@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
    position: sticky;
    margin-left: -20rem;
    margin-bottom: 14rem;
    width: 20%;
}
body {
  background-color: #F2F4F8;
  color: #3E6493;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url(4.jpg); */
  background-size: cover;
  overflow: hidden;
}
.center{
    background-color: #c9d6f1;
    width: 100%;
    height: 30.1rem;
    border: none;
}
.blue{
    width: 240%;
    background-color: #1e579c;
    height: 6rem;
    margin-left: 60rem;
    transform: rotate(-50deg);
    border: none;
}
.white{
    width: 240%;
    background-color: #FFFFFF;
    height: 18rem;
    margin-left: 110rem;
    transform: rotate(-50deg);
    border: none;
}
h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

span {
  font-size: 12px;
  color: #6ba6ee;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 15px 0;
}

.container {
  position: absolute;
  /* box-shadow: 2.8px 2.8px 2.2px #05050594, 8px 9px 9px #00000017, 9px 10px 10px #00000017, 7px 9px 11px #00000017, 7px 7px 2px #00000017, 6px 11px 13px #000; */
  overflow: hidden;
  min-height: 480px;
  width: 768px;
  max-width: 100%;
  opacity: 0.8;
}

.form-container {
  background: rgba(45, 52, 54, 1);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.social-container a:hover{
    border: 1px solid #64a6e1;
}

a:hover{
    color: #64a6e1;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 35px;
  margin-top: 15px;
  background-color: #dad6d669;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  opacity: 0.4;
}
button:hover{
  transition: 1s;
  opacity: 1;
  background-color: #1e579c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.ghost {
  background: transparent;
  border-color: #ffff;
  background-color: #64a6e1;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 0;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: transparent;
  background: linear-gradient(to right, #fff9f9, #FFFFFF) no repeat 0 0 / cover;
  color: #1e579c;
  position: absolute;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

#toggler {  
  color: #dad6d669;
  position: absolute;  
  right: 20px;  
  top: 50%; 
  transform: translate(-400%,420%);  
  cursor: pointer;  
}

#toggler:hover{
  color: #8cadf5;
}
