.example-form {
  min-width: 150px;
  max-width: 500px;
  height: 720px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
