
<div class="title">SUGERIR UNIVERSIDAD</div>
    <div class="contfor">
        <h3>INGRESE DATOS DE LA INSTITUCIÓN</h3>
        <div class="form">
            <form action="">
                <div class="left">
                    <input type="text" placeholder="NOMBRE DE LA INSTITUCIÓN" name="nombreUni">
                    <input type="text" placeholder="REGION DE LA INSTITUCIÓN" name="region">
                    <input type="text" placeholder="COMUNA DE LA INSTITUCION" name="comuna">
                </div>
                <div class="right">
                    <input type="text" placeholder="DIRECCIÓN DE LA INSTITUCIÓN" name="direccion">
                    <input type="text" placeholder="WEB DE LA INSTITUCIÓN" name="web">
                </div>
                <button>ENVIAR</button>
        </form>
            
    </div>
</div>