<div class="row">
  <div class="col-md-offset-3 mx-auto">
    <form
      (ngSubmit)="save()"
      autocomplete="off"
      [formGroup]="form"
      #frmLibro="ngForm"
    >
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Ubicación de la sede</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ubicación de la sede"
          formControlName="ubicacion"
        />

        <mat-error *ngIf="form.controls.ubicacion.hasError('required')">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="form.controls.ubicacion.hasError('minlength')">
          Debe tener al menos 3 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Dirección de la sede</mat-label>
        <input
          matInput
          type="text"
          placeholder="Dirección de la sede"
          formControlName="direccion"
        />

        <mat-error *ngIf="form.controls.direccion.hasError('required')">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="form.controls.direccion.hasError('minlength')">
          Debe tener al menos 3 caracteres
        </mat-error>
      </mat-form-field>

      <button mat-button routerLink="/admin/sedes">Cancelar</button>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="ms-2"
        [disabled]="frmLibro.invalid"
      >
        Guardar
      </button>
    </form>
  </div>
</div>
